.site-navbar {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #f9a826;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-user-controls {
  min-width: 400px;
}

.signed-out {
  min-width: 200px;
}

.nav-create-post,
.nav-user {
  color: rgb(52, 58, 64);
}

.nav-create-post:hover,
.nav-user:hover {
  text-decoration: underline;
}

/* .navbar-logo {
  width: 100%;
  height: 100%;
}

.nav-logo {
  height: 110px;
} */

/* @keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.pulsing {
  animation: pulse 2s linear infinite;
} */
