.comment-info {
  font-size: 14px;
  font-style: italic;
  color: rgb(91, 91, 91);
}

.comment-user-link {
  color: inherit;
  text-decoration: inherit;
  padding-left: 5px;
}

.show-post-date {
  padding-left: 5px;
}

.comment-user-link:hover {
  color: inherit;
}

.comment-avatar-img {
  width: 31px;
  height: 31px;
  border-radius: 30px;
}

.comment-avatar-img:hover {
  opacity: 0.8;
}

.comment-avatar-fa {
  font-size: 32px;
}

.comment-avatar-link {
  color: #f9a826;
}

.comment-avatar-link:hover {
  color: #f9a826;
  opacity: 0.8;
}

.comment-feed {
  padding-left: 40px;
  padding-right: 40px;
  hyphens: auto;
  word-wrap: break-word;
}

.create-comment-input {
  width: 100%;
}

.create-comment-data {
  width: 70%;
}

.comment {
  margin-top: 5px;
}

.load-more-comments-btn {
  text-align: center;
  margin-top: 5px;
}

.edit-delete-btns {
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(91, 91, 91);
}
