.show-board-title {
  font-weight: bold;
  font-size: 52px;
  hyphens: auto;
  word-wrap: break-word;
}

.show-board-img {
  width: 300px;
  height: 300px;
}

.boardpage-container {
  padding: 0;
  margin-top: 0 !important;
  padding-top: 15px;
}

.show-board-body {
  font-size: 30px;
  hyphens: auto;
  word-wrap: break-word;
}

.board-create-data {
  font-style: italic;
  font-size: 14px;
}

.board-user-link {
  color: inherit;
  text-decoration: inherit;
}

.board-user-link:hover {
  color: inherit;
}
