.feed-post {
  margin-left: 12px;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.text-link:hover {
  text-decoration: none;
  color: inherit;
}
