.site-navbar {
  height: 80px;
  background-color: rgba(128, 128, 128, 0.9);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-user-controls {
  min-width: 400px;
}

.signed-out {
  min-width: 200px;
}
