.site-navbar {
  height: 80px;
  background-color: rgba(128, 128, 128, 0.9);
  position: sticky;
  top: 0;
  z-index: 1;
}

.sign-in-form {
  border: 1px solid black;
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  z-index: 1;
  background-color: grey;
}

.navbar-user-controls {
  min-width: 400px;
}

.signed-out {
  min-width: 200px;
}
