.show-user-info {
  text-align: center;
}

.show-user-username {
  font-size: 44px;
  font-weight: bold;
}

.user-bio {
  font-size: 18px;
}

.show-user-placeholder {
  font-size: 55px;
}

.show-user-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid black;
}

.user-activity {
  font-size: 18px;
}

.show-user-edit:hover {
  cursor: pointer;
}

.show-user-edit {
  font-size: 32px;
}

.show-user-bio {
  font-size: 24px;
}

.show-user-bio-title {
  font-weight: bold;
  font-size: 30px;
}

.show-user-bio-edit {
  width: 100%;
  height: 150px;
  font-size: 24px !important;
}

.show-user-info-page {
  hyphens: auto;
  word-wrap: break-word;
}

.save-btn,
.cancel-btn {
  margin: 0;
  margin-left: 5px;
}

@media only screen and (max-width: 600px) {
  .show-user-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
  }
}
