.unclickable {
  pointer-events: none;
}

.clickable {
  pointer-events: auto;
}

.blured {
  filter: blur(0.8px);
}

.unblured {
  filter: blur(0);
}

.sign-up-form {
  position: fixed;
  width: 400px;
  min-height: 400px;
  top: 30%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  z-index: 1;
  background-color: grey;
}

.sign-up-inputs {
  margin-top: 10px;
  text-align: center;
}

.red-text {
  color: rgb(231, 14, 14);
  font-weight: bold;
}

.close-btn {
  /* font-size: 35px; */
}

.close-btn-container {
  /* position: absolute;
  margin-left: 43%; */
  margin-right: 5px;
}
