.unclickable {
  pointer-events: none;
}

.clickable {
  pointer-events: auto;
}

.blured {
  filter: blur(0.8px);
}

.unblured {
  filter: blur(0);
}

.sign-in-form {
  border: 1px solid grey;
  position: fixed;
  width: 400px;
  min-height: 350px;
  top: 35%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  z-index: 1;
  background-color: rgb(228, 228, 228);
}

.sign-in-inputs {
  /* margin-top: 30px; */
  text-align: center;
}

.sign-in-btn {
  margin-top: 25px;
}

.red-text {
  color: rgb(231, 14, 14);
  font-weight: bold;
}

.sign-in-label {
  font-size: 16px;
}

.sign-in-title {
  font-size: 26px;
  margin-left: 10px;
  font-weight: bold;
}

.sign-in-username-input,
.sign-in-username-password {
  margin-top: 25px;
}
